# Ignore virtual environments
yt_env/
venv/
.env/

# Ignore python cache
__pycache__/
*.pyc

# Ignore large data
*.csv
*.xlsx
*.log

# Ignore HF model cache
huggingface/
.cache/
models/

# Ignore VSCode workspace
.vscode/
